{% extends 'base.html'%}
{% load static %}

{% block content %}

<p>Rusanhi Trust Members</p>
<div class="">


  <a target="_blank" href='https://www.facebook.com/'><i class='fa fa-facebook'>Tichaona Chinzou - Chairman</i></a>
  <a href='#'><i class='fa fa-google-plus'></i></a>
  <a href='https://twitter.com/home'><i class='fa fa-twitter'></i></a>

  <a target="_blank" href='https://www.facebook.com/'><i class='fa fa-facebook'>Terence Wilson Mudangwe</i></a>
  <a href='#'><i class='fa fa-google-plus'></i></a>
  <a href='#'><i class='fa fa-twitter'></i></a>

  <a target="_blank" href='https://www.facebook.com/'><i class='fa fa-facebook'>Godwin Kudumba</i></a>
  <a href='#'><i class='fa fa-google-plus'></i></a>
  <a href='#'><i class='fa fa-twitter'></i></a>

  <a target="_blank" href='https://www.facebook.com/'><i class='fa fa-facebook'>Willie Gonda</i></a>
  <a href='#'><i class='fa fa-google-plus'></i></a>
  <a href='#'><i class='fa fa-twitter'></i></a>

  <a target="_blank" href='https://www.facebook.com/'><i class='fa fa-facebook'>Oscar Chipangura</i></a>
  <a href='#'><i class='fa fa-google-plus'></i></a>
  <a href='#'><i class='fa fa-twitter'></i></a>

  <a target="_blank" href='https://www.facebook.com/'><i class='fa fa-facebook'>Francis Katsuwa</i></a>
  <a href='#'><i class='fa fa-google-plus'></i></a>
  <a href='#'><i class='fa fa-twitter'></i></a>

  <a target="_blank" href='https://www.facebook.com/'><i class='fa fa-facebook'>Francis Pasipanodya</i></a>
  <a href='#'><i class='fa fa-google-plus'></i></a>
  <a href='#'><i class='fa fa-twitter'></i></a>

  <a target="_blank" href='https://www.facebook.com/'><i class='fa fa-facebook'>Peter Matsanura</i></a>
  <a href='#'><i class='fa fa-google-plus'></i></a>
  <a href='#'><i class='fa fa-twitter'></i></a>
</div>

{% endblock %}

<!--


10) Peter Matsanura -->
